<div class="body-text">
  <h1 class="secondary-header"><i class="far fa-clock"></i>ptiScheduler</h1>
  <br />
  <div>
    Hi <%= @user["first_name"] %>, <br /><br />
    This email is to confirm that your OptiScheduler event window, '<%= @event.event_name %>', has been scheduled for <%= @event.event_date %>.

    Invitations have been sent to <%= @invitees %>.
  </div>
  <br />
  <span>On <%= @event.rsvp_date.strftime("%b. %d, %Y") %> your schedule will be created. You will receive an email the following day with your entire schedule for the event window and each participant will receive an email with only their assigned slot time.</span>

  <span>To view or delete your event, visit <%= link_to 'your event page', @url %>.
  <br />
  <br />
  <span>
    About OptiScheduler: OptiScheduler is a an optimization tool designed to make scheduling a one-on-one meeting easy. The host creates an event window, invitees reply with their availability within that window, and OptiScheduler creates a shcedule to meet everyone's needs. <%= link_to 'Get started hosting your own event!', "https://optischeduler.herokuapp.com/welcome" %>
  </span>
</div>
