<div class="body-text">
  <h1 class="secondary-header">OptiScheduler</h1>
  <br />
  <div>
    Hi <%= @user.first_name %>, <br /><br />
    You schedule for '<%= @event.event_name %>' on <%= @event.event_date.strftime("%b. %d, %Y") %> is ready.
  </div>
  <br />
  <div>
    <%= link_to 'Visit your event page', @url %> to view your schedule.
  </div>
  <br />
  <br />
  <br />
  <br />
  <span class="fine-print">
    About OptiScheduler: OptiScheduler is a an optimization tool designed to make scheduling a one-on-one meeting easy. The host creates an event window, invitees reply with their availability within that window, and OptiScheduler creates a shcedule to meet everyone's needs. <%= link_to 'Get started hosting your own event!', "https://optischeduler.herokuapp.com/welcome" %>
  </span>
</div>
