<div class="body-text">
    <h1 class="secondary-header">OptiScheduler</h1>
    <br />
    <div>
      <%= @user["first_name"] %> <%= @user["last_name"] %> has invited you to reply to an event on OptiScheduler.
    </div>
    <br />
    <div>
      <span>Event name:  <%= @event.event_name %></span>
      <br />
      <span>Event host:  <%= @user["first_name"] %> <%= @user["last_name"] %></span>
      <br />
      <span>Event date:  <%= @event.event_date %></span>
      <br />
      <% if @event.event_description %>
        <span>Description:  <%= @event.event_description %></span>
      <%- end -%>
    </div>
    <br />
    <br />
    <div>
      <span><b>Please RSVP with all times you are available by <%= @event.rsvp_date %></b>. You will be notified via email of a time that works well for both you and <%= @user["first_name"] %>.</span>
      <br/>
      <span> The sooner you RSVP, the more likely we are to find a time that work well for both of you!</span>
    </div>
  <br>
  <%= link_to 'Click here', @url, :class => 'centered' %> to RSVP with your availability! %>
</div>
